<a href="https://colab.research.google.com/github/AnshulMenaria/Python-Notes/blob/main/Day_6_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range (1,5):
  for j in range(1,5):
    print("*",end=" ")
  print("")

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range (1,5):
  for j in range(1,5):
    print(i,end=" ")
  print("")

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for i in range (4,0,-1):
  for j in range(1,5):
    print(i,end=" ")
  print("")

4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [ ]:
for i in range (1,5):
  for j in range(1,5):
    print(j,end=" ")
  print("")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
a=1
for i in range (1,6):
  for j in range(1,6):
    print(a,end=" ")
    a+=1
  print("")

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
for i in range (1,5):
  for j in range(4,11,2):
    print(j,end=" ")
  print("")

4 6 8 10
4 6 8 10
4 6 8 10
4 6 8 10

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print("*",end=" ")
  print("")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(5,-1,-1):
  for j in range(4,i,-1):
    print(j,end=" ")
  print("")

4
4 3
4 3 2
4 3 2 1

In [ ]:
a=10
for i in range (1,5):
  for j in range(1,i+1):
    print(a,end=" ")
    a+=2
  print("")

10
12 14
16 18 20
22 24 26 28

In [ ]:
for i in range(5,1,-1):
  for j in range(1,i):
    print(j,end=" ")
  print("")

1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(0,6):
  for j in range(4,i,-1):
    print(j,end=" ")
  print("")

4 3 2 1
4 3 2
4 3
4

In [ ]:
for i in range(1,4):
  a=65
  for j in range(4,i,-1):
    print(chr(a),end=" ")
    a+=1
  print("")

A B C
A B
A

In [ ]:
a=65
for i in range(1,5):
  for j in range(5,i,-1):
    print(chr(a),end=" ")
    a+=1
  print("")

A B C D
E F G
H I
J

In [92]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")

  print("")

        *
      * *
    * * *
  * * * *
* * * * *