<a href="https://colab.research.google.com/github/AnshulMenaria/Python-Notes/blob/main/Day_15_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 1. Nested loop  overview
# -take a number from 2 to 5 and print its table

for i in range(2,6):
  for j in range(1,11):
    print(i*j,end=" ")
  print()

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [6]:
# -take a number from 6 to 2 and print its table
for i in range(6,1,-1):
  for j in range(1,11):
    print(i*j,end=" ")
  print()

6 12 18 24 30 36 42 48 54 60
5 10 15 20 25 30 35 40 45 50
4 8 12 16 20 24 28 32 36 40
3 6 9 12 15 18 21 24 27 30
2 4 6 8 10 12 14 16 18 20

In [7]:
# -take a number from 6 to 2 and print its table in reversse
#  60  54  48 42 36 30 24 18 12 6
for i in range(6,1,-1):
  for j in range(10,0,-1):
    print(i*j,end=" ")
  print()

60 54 48 42 36 30 24 18 12 6
50 45 40 35 30 25 20 15 10 5
40 36 32 28 24 20 16 12 8 4
30 27 24 21 18 15 12 9 6 3
20 18 16 14 12 10 8 6 4 2

In [11]:
# 2. Check a number is a prime not

num = int(input("Enter a number: "))
a=0
for i in range(2,num):
  if num%i==0:
    a=1
    break
if a==0:
  print("prime")
else:
  print("not prime")

Enter a number: 11
prime

In [12]:
# 3. Take a range of values from 2to 19 and print all prime number

for i in range(2,20):
  a=0
  for j in range(2,i):
    if i%j==0:
      a=1
      break
  if a==0:
    print(i)

2
3
5
7
11
13
17
19

In [13]:
# 4.
# ****
# ***
# **
# *

for i in range(4,0,-1):
  for j in range(1,i+1):
    print("*",end="")
  print()

****
***
**
*

In [24]:
# 5.
# $$$*
# $$**
# $***
# ****

for i in range(4,0,-1):
  for j in range(1,i):
    print("$",end="")
  for k in range(i,5):
    print("*",end="")
  print()

$$$*
$$**
$***
****