<a href="https://colab.research.google.com/github/AnshulMenaria/Python-Notes/blob/main/Day_16_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# to check whether a number is a palindrome or not

num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    rem=num%10
    rev=rev*10+rem
    num=num//10
if(temp==rev):
    print("palindrome")
else:
    print("not palindrome")

Enter a number:12321
palindrome

In [14]:
# to check whether a string is a palindrome or not
string=input(("Enter a string:"))
if(string==string[::-1]):
  print("palindrome")
else:
  print("Not a palindrome")

Enter a string:abcba
palindrome

In [15]:
# to take a number and print all its factor

num=int(input("Enter a number:"))
for i in range(1,num+1):
    if num%i==0:
        print(i)

Enter a number:6
1
2
3
6

In [16]:
#list  =>[10,20,30,40123,123,123]
# to check which number are more than target=70

list1=[10,20,30,40123,123,123]
target=70
for i in list1:
    if i>target:
        print(i)

40123
123
123

In [23]:
#     *
#    * *
#   * * *

for i in range(1,4):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

    *
   * *
  * * *

In [35]:
# * * * *
#  * * *
#   * *
#    *

for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for k in range(i,5):
    print("*",end=" ")
  print()

* * * *
 * * *
  * *
   *

In [33]:
#list  =>[10,20,30,40123,123,123]
# to check which two number make the value 143

list1=[10,20,30,40123,123,123]

for i in list1:
  for j in list1:
    if (i+j==143):
      print(i,j)

20 123
20 123
123 20
123 20